.playa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2% 2%;
    box-shadow: 10px 5px 5px black;
    border-radius: 15px;
    width: 46%;
    height: 20rem;
    text-align: center;
}

.playa:hover {
    cursor: pointer;
    box-shadow: 13px 5px 5px rgb(0, 3, 48);
}

.parrafo{
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100%;
    border-radius: 15px;
    padding: 10% 0px;
    font-size: 14pt;
    color: white;
}

#bocana {
    background-image: url("../../img/Bocana2.jpg");
    background-size: cover;
}

#pianguita {
    background-image: url("../../img/Pianguita.jpg");
}

#magüipi {
    background-image: url("../../img/Maguipi.jpg");
}

#ladrilleros {
    background-image: url("../../img/Ladrilleros.jpg");
    background-size: cover;
}

@media(max-width: 900px) {
    .playa {
        width: 80%;
    }
}