footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5%;
    background: linear-gradient(0deg, rgba(29,21,24,1) 9%, rgba(74,60,51,1) 36%, rgba(152,129,99,1) 73%, rgba(218,198,171,0.9418412112118153) 100%);
    color: white;
}

.seccion-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0% 1%;
}

#cuadrado {
    max-width: 60%;
    margin: 1% 20% 0% 20%;
    opacity: 0.7;
}