main {
  background-image: url("./img/playa1.jpg");
  background-size: cover;
}

header {
  background: linear-gradient(180deg, rgba(3,4,94,1) 25%, rgba(2,62,138,0.7339760426724895) 65%, rgba(3,4,94,0.1159985145826018) 100%);
  min-height: 5%;
}

header:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 5%;
  background: linear-gradient(0deg, rgba(29,21,24,1) 9%, rgba(74,60,51,1) 36%, rgba(152,129,99,1) 73%, rgba(218,198,171,0.9418412112118153) 100%);
  color: white;
}